img {
    height: 300px;
}
body {
    color: ivory;
    background-color: black;
}

.text {
    color: ivory;
    font-family: 'Syne Tactile', cursive;
}

.buttonsC {
    font-family: 'Redressed', cursive;

}